<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atlantis.dao.MemberMapper">
	<select id="selMemberByPage" parameterType="pageinfo"
		resultType="Member">
		select * from member
		<where>
			<!-- 查询条件不为空时 -->
			<if test="searchText!=null and searchText!=''">
				<bind name="searchText" value="'%'+searchText+'%'" />
				and concat(id,name,tel) like #{searchText}
			</if>
			<!-- 查询条件为空时,默认 查询全部 -->
		</where>
		limit #{pageStart},#{pageSize}
	</select>

	<select id="selCountMemberByAll" parameterType="pageinfo"
		resultType="long">
		select count(*) from member
		<where>
			<!-- 查询条件不为空时 -->
			<if test="searchText!=null and searchText!=''">
				<bind name="searchText" value="'%'+searchText+'%'" />
				and concat(id,name,tel) like #{searchText}
			</if>
			<!-- 查询条件为空时,默认 查询全部 -->
		</where>
	</select>

	<select id="selById" parameterType="int" resultType="Member">
		select *
		from member where id=#{0}
	</select>

	<update id="updMember" parameterType="Member">
		update member
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="tel != null">
				tel = #{tel},
			</if>
			<if test="sex != null">
				sex = #{sex},
			</if>
			<if test="date != null">
				date = #{date},
			</if>
		</set>
		where id = #{id}
	</update>

	<select id="selMaxMemberId" resultType="Integer">
		SELECT id FROM member
		GROUP BY id DESC LIMIT 1
	</select>

	<insert id="addMember" parameterType="Member">
		insert into member
		values(#{id},#{name},#{tel},#{sex},#{money},#{date})
	</insert>

	<delete id="delMember" parameterType="int">
		delete member,record from
		member left join record on member.id=record.memberid
		where member.id=#{0}
	</delete>

</mapper>
 
